<h1>Help</h1>
<p>
	Get help on Ruby on Rails tutorial at the 
	<a href="http://railtutorial.org/help">Rails Tutorial help page</a>
	To get help on this sample app, see the 
	<a href="http://rails tutorial.org/book">Rails Tutorial book </a>
</p>